---

Language: Cpp
Standard: c++11 # Actually C11, but that's not an option.

AlignTrailingComments:
  Kind: Never
AllowShortFunctionsOnASingleLine: None
BasedOnStyle: LLVM
BreakAfterReturnType: All
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Custom
ColumnLimit: 100
IndentCaseLabels: true
IndentPPDirectives: AfterHash
IndentWidth: 4
NamespaceIndentation: All
PPIndentWidth: 1

BraceWrapping:
  AfterCaseLabel: false
  AfterControlStatement: MultiLine
  AfterEnum: false
  AfterExternBlock: false
  AfterFunction: true
  AfterStruct: false
  AfterUnion: false
  BeforeElse: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: false

AttributeMacros:
  - AUTK_FMT
  - AUTK_VFMT

---
